<app-navbar></app-navbar>
<div class="container">
  <legend style="text-align: center;margin-bottom: 25px;margin-top: 20px">Adminsitrar Cuentas</legend>  
  <table class="table table-hover table-sm table-striped table-bordered" style="width: 100%;" cellspacing="0">
    <thead class="table-primary">
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Tipo</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let cuenta of Cuentas?.mostrandoCuentas">
        <td>{{cuenta.usuario}}</td>
        <td>{{cuenta.tipo}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ActualizarModal" (click)="openModalActualizar(cuenta)">Actualizar</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ActualizarModalPass" (click)="openModalActualizarPass(cuenta)">Actualizar Contraseña</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2" (click)="openModalEliminar(cuenta._id)">Eliminar</button></td>
      </tr>
    </tbody>
    <div *ngIf="preloader == true">
      <div class="loader"></div>
    </div>
  </table>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <button style="width: 80%;margin-top: 20px;margin-bottom:20px;" class="btn btn-primary" routerLink="/administrar"><i class="fas fa-arrow-circle-left"></i></button>
    </div>
  </div>
</div>
<!--Modal-->
<div class="modal fade" id="ActualizarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: auto;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Actualizar Usuario</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="wrap">
          <form>
            <div class="row">
              <div class="col-12">
                <mat-form-field style="width: 100%; margin-bottom: 30px;" class="form-field">
                   <input matInput placeholder="Usuario" id="usuario" name="usuario" #usuario="ngModel" [(ngModel)]="usuarios.usuario">
                </mat-form-field>
              </div>
              <div class="col-12">
                <div class="demo">
                <!-- Standard Select -->
                <div class="mdl-selectfield">
                  <label>Standard Select</label>
                  <select style="width: 100%;" placeholder="Tipo de Cuenta" id="tipo" name="tipo" #tipo="ngModel" [(ngModel)]="usuarios.tipo">
                    <option style="width: 100%;" disabled="true">Porfavor Selecciona uno</option>
                    <option style="width: 100%;"  *ngFor="let tipo of tipos" [value]="tipo.value"> {{ tipo.viewValue }}</option>
                  </select>
                </div>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onActualizar()" data-dismiss="modal" >Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        ¿ Estas Seguro de Eliminar a esta Cuenta ?<br>
        <span>Se eliminara al Usuario Asociado a esta Cuenta</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onBorrar()" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ActualizarModalPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: auto;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Actualizar Usuario</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="wrap">
          <form>
            <div class="row">
              <div class="col-12">
                <mat-form-field style="width: 90%;" class="form-field">
               <input matInput type="password" placeholder="Contraseña Nueva" id="newpassword" name="newpassword" #newpassword="ngModel" [(ngModel)]="newPassword">
              <mat-error>
              </mat-error>
            </mat-form-field>
              </div>
              <div class="col-12">
                 <mat-form-field style="width: 90%;" class="form-field">
                  <input matInput type="password" placeholder="Vuelva a ingresar la contraseña" id="password" name="password" #password="ngModel" [(ngModel)]="passwordText">
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onActualizarPass()" data-dismiss="modal" >Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
